<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nobel Data</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <a href='http://127.0.0.1:5000/all'><button>Click for all nobel data</button></a>
    </div>

  </div>
  <p>Or to go to a specific year, type a '/' and a year in the URL</p>

  
</form>
</body>


  <img src = "http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcSjM2OcujgmS6bDfhLrZgLzIgMhLwBDjdXnlsPtzgPR6wSTXZNBrPKFg6KysS45" alt = "nobel" width="500" height="600">




</body>

</html>